// Headline styling
.headline1
	font normal rem(50px) gothic
.headline2
	font normal rem(40px) gothic
.headline3
	font normal rem(34px) gothic
.headline4
	font normal rem(30px) gothic




// Body text styling, that scales up but resets on mobile
.body-text
	font rem(14px)/1.6 gotham
	color near-black
	@media(max-width desktop)
		font-size 14px

// General style for wysiwygs
.wysiwyg

	// Make all headers the gothic font
	h1,h2,h3,h4,h5,h6
		font-family gothic
		font-weight normal
